{% load static %}

<link rel="stylesheet" href="{% static 'recipes/style.css' %}">

<a href="{% url 'recipes:recipes_ingredients' %}">Rezepte nach Zutaten filtern</a>
<br />
<a href="{% url 'recipes:ingredient_list' %}">Zutatenübersicht</a>

{% block content %}
    <form method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>

    {% if filter.qs %}
        <ul>
        {% for recipe in filter.qs %}
            <li><a href="{% url 'recipes:detail' recipe.id %}">{{ recipe.recipe_name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Recipes are available.</p>
    {% endif %}

{% endblock %}
