
<h1>{{ ingredient }}</h1>

{% if ingredient.image %}
    <h3>So sieht es aus: </h3>
    <img src="{{ ingredient.image.url }}" alt="{{ ingredient }}" style="max-width: 400px; height: auto;">
{% else %}
    Kein Bild hinterlegt
{% endif %}

<p>
{% if ingredient.alternatives %}
    <b>Mögliche Alternativen:</b> {{ ingredient.alternatives }}
{% endif %}
</p>

<h3>Hier ist es zu finden:</h3>
{{ ingredient.location1 }}
<br />

{% if ingredient.location1.image %}
    <img src="{{ ingredient.location1.image.url }}" alt="{{ location }}" style="max-width: 400px; height: auto;">
{% endif %}

{% if ingredient.location2 %}
    <h3>oder hier:</h3>
    {{ ingredient.location2 }}
    <br />

    {% if ingredient.location2.image %}
        <img src="{{ ingredient.location2.image.url }}" alt="{{ location }}" style="max-width: 400px; height: auto;">
    {% endif %}
{% endif %}
