<h1> {{ recipe }} </h1>

Quelle: {{ recipe.source }} <br>
Vorbereitungszeit: {{ recipe.preparation_time }} <br>
Kochzeit: {{ recipe.cooking_time }} <br>
Anmerkungen: {{ recipe.notes }} <br>

<h2> Zutaten</h2>
<ul>
    {% for ingredient in ingredients %}
        <li> {{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.ingredient.ingredient_name }} </li>
    {% endfor %}
</ul>

<h2>Utensilien</h2>
<ul>
    {% for utensil in utensils %}
        <li> {{ utensil.utensil.utensil_name }} </li>
    {% endfor %}
</ul>

<h2> Zubereitung</h2>
<ol>
    {% for step in steps %}
        <li>
            {{ step.instruction }}
            {% if step.ingredients %}
                <ul>
                    {% for ingredient in step.ingredients %}
                        <li>{{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.ingredient.ingredient_name }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ol>
