<h1> {{ recipe }} </h1>

Quelle: {{ recipe.source }} <br>
Vorbereitungszeit: {{ recipe.preparation_time }} <br>
Kochzeit: {{ recipe.cooking_time }} <br>
Anmerkungen: {{ recipe.notes }} <br>
Süß: {{ recipe.sweet }} <br>
Noch in Erprobung: {{ recipe.experimental }}

<h2> Zutaten</h2>
<ul>
    {% for step in steps %}
        {% for step_ingredient in step.ingredients %}
            <li>{{ step_ingredient.quantity }} {{ step_ingredient.unit }} {{ step_ingredient.ingredient.ingredient_name }}
                &nbsp; - &nbsp;
                <a href="{% url 'recipes:ingredient' step_ingredient.ingredient.id %}">{{ step_ingredient.ingredient.location.location_name}}</a>
            </li>
        {% endfor %}
    {% endfor %}
</ul>

{% if utensils %}
    <h2>Utensilien</h2>
    <ul>
        {% for recipe_utensil in utensils %}
            <li>
                <a href="{% url 'recipes:utensil' recipe_utensil.utensil.id %}">{{ recipe_utensil.utensil.utensil_name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<h2> Zubereitung</h2>
{% for step in steps %}
    {% if step.ingredients %}
        <ul>
            {% for step_ingredient in step.ingredients %}
                <li>{{ step_ingredient.quantity }} {{ step_ingredient.unit }}
                    <a href="{% url 'recipes:ingredient' step_ingredient.ingredient.id %}">{{ step_ingredient.ingredient.ingredient_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <ol>
        {% for instruction in step.instructions %}
            <li> {{ instruction.text }} </li>
        {% endfor %}
    </ol>

{% endfor %}

<a href="{% url 'recipes:index' %}">Zurück zur Rezeptübersicht</a>
